# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [14]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

In [15]:
df.head

<bound method NDFrame.head of        Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [16]:

filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]


print(filtered_df.head())

     Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189         189  OK31456  California             11009.130490      Yes
236         236  YJ16163      Oregon             11009.130490      Yes
419         419  GW43195      Oregon             25807.063000      Yes
442         442  IP94270     Arizona             13736.132500      Yes
587         587  FJ28407  California              5619.689084      Yes

     Coverage             Education Effective To Date EmploymentStatus Gender  \
189   Premium              Bachelor           1/24/11         Employed      F
236   Premium              Bachelor           1/24/11         Employed      F
419  Extended               College           2/13/11         Employed      F
442   Premium                Master           2/13/11         Disabled      F
587   Premium  High School or Below           1/26/11       Unemployed      M

     ...  Number of Open Complaints Number of Policies     Policy Type  \
189  ...                        0.0                  1  Corporate Auto
236  ...                        0.0                  1    Special Auto
419  ...                        1.0                  2   Personal Auto
442  ...                        0.0                  8   Personal Auto
587  ...                        0.0                  1   Personal Auto

           Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
189  Corporate L3            Offer2          Agent         1358.400000
236    Special L3            Offer2          Agent         1358.400000
419   Personal L2            Offer1         Branch         1027.200000
442   Personal L2            Offer1            Web         1261.319869
587   Personal L1            Offer2            Web         1027.000029

     Vehicle Class Vehicle Size Vehicle Type
189     Luxury Car      Medsize          NaN
236     Luxury Car      Medsize            A
419     Luxury Car        Small            A
442            SUV      Medsize            A
587            SUV      Medsize            A

[5 rows x 26 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [17]:
responded_yes_df = df[df['Response'] == 'Yes']

average_claim_by_policy_gender = responded_yes_df.groupby(['Policy Type', 'Gender'])['Total Claim Amount'].mean().reset_index()

print(average_claim_by_policy_gender)

      Policy Type Gender  Total Claim Amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [18]:
customers_by_state = df['State'].value_counts()

states_more_than_500_customers = customers_by_state[customers_by_state > 500]


print(states_more_than_500_customers)

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [20]:
clv_stats_by_education_gender = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max', 'min', 'median']).reset_index()
print(clv_stats_by_education_gender)

              Education Gender          max          min       median
0              Bachelor      F  73225.95652  1904.000852  5640.505303
1              Bachelor      M  67907.27050  1898.007675  5548.031892
2               College      F  61850.18803  1898.683686  5623.611187
3               College      M  61134.68307  1918.119700  6005.847375
4                Doctor      F  44856.11397  2395.570000  5332.462694
5                Doctor      M  32677.34284  2267.604038  5577.669457
6  High School or Below      F  55277.44589  2144.921535  6039.553187
7  High School or Below      M  83325.38119  1940.981221  6286.731006
8                Master      F  51016.06704  2417.777032  5729.855012
9                Master      M  50568.25912  2272.307310  5579.099207

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here